<html>
<body>

<input type="file" id="files"  onchange="s3_upload();"/>
<p id="status">Please select a file</p>


<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="https://raw.github.com/bestiejs/lodash/v1.1.1/dist/lodash.min.js"></script>
<script type="text/javascript" src="/static/s3upload.js"></script>

<script type="text/javascript">
function s3_upload(){
var s3upload = new S3Upload({
  file_dom_selector: '#files',
  s3_sign_put_url: '/sign_s3/',
  onProgress: function(percent, message) {
    $('#status').html('Upload progress: ' + percent + '%' + message);
  },
  onFinishS3Put: function(public_url) { 
    $('#status').html('Upload completed. Uploaded to: '+ public_url);
  },
  onError: function(status) {
    $('#status').html('Upload error: ' + status);
  }
});
}
</script>
</body>
</html>
